@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding: 40px;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 100%);
  z-index: -1;
}

.Me {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  max-width: 30%;
  max-height: 40%;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  z-index: 2;
  background-color: whitesmoke;
  box-shadow: rgba(70, 130, 180, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.me img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.name {
  font-family: "Moon Dance", serif;
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: 75%;
  left: 5%;
  z-index: 3;
}
.project {
  width: 100vw;
}
.myProject {
  display: flex;
  width: 95%;
  gap: 5%;
  flex-wrap: wrap;
  margin-left: 5%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoTitle {
  margin: 0;
  padding-top: 30px;
  line-height: 1;
}
.infoBox {
  max-height: 38vh;
  border-left: none;
  border-radius: 2px;
  padding: 10px;
  margin: 0;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.infoText {
  padding: 10px;
  margin-left: 5px;
}
.boxText {
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: end;
  line-height: 1;
}
.icon {
  width: 80%;
  height: 5vh;
  padding: 5px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}
.projectTitle {
  text-align: center;
  margin: 5%;
}

.cardPic {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}
.textCard {
  line-height: 1;
  margin-left: 10px;
  padding: 5px;
}
.pTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pTitle h2 {
  align-items: start;
  white-space: nowrap;
}

.pDiv {
  max-width: calc(84% / 3);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.486);
  margin-bottom: 30px;
  transition: 0.3s;
}
.pDiv:hover {
  transform: scale(1.01);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  margin: 5px;
}
.pIcons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5%;
  align-items: center;
}
.pIcons .icon {
  height: 35%;
  width: 20%;
  padding: 0;
}
.externalLink {
  width: 55%;
  height: 30px;
}

.contact {
  height: auto;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30%;
  padding: 0;
  overflow: hidden;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.meContact {
  width: 60%;
  height: 50%;
  align-items: end;
  padding: 30px;
  margin-right: 3vw;
}

.picContact {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.contactTitle {
  padding: 10%;
  padding-left: 0;
  white-space: nowrap;
}
.textContact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 5vw;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}
.contactUs {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .aboutMe {
    flex-direction: column;
  }
  .infoBox {
    box-shadow: none;
    min-height: 50vh;
  }
  .infoBox .icon {
    width: 80%;
    height: 8vh;
    padding: 5px;
    margin-top: 20px;
  }
  .infoTitle {
    text-align: center;
  }
  .Me {
    background-color: none;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    box-shadow: none;
    padding: 0;
    margin: 10px;
    margin-top: 10px;
  }
  .Me img {
    object-fit: cover;
  }
  .name {
    position: absolute;
    font-size: 6vw;
    z-index: 2;
    margin-top: 20%;
  }
  .icons {
    justify-content: center;
  }
  .project {
    margin: 0;
  }
  .projectTitle {
    padding: 10px;
    text-align: center;
  }
  .myProject {
    flex-direction: column;
    justify-content: center;
  }
  .pDiv {
    max-width: 95%;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
  }
  .contactTitle {
    text-align: center;
    padding: 3%;
  }
  .textContact {
    line-height: 2;
    padding: 5%;
  }
  .meContact {
    align-self: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .info {
    position: relative;
    margin-right: 40%;
  }
  .Me {
    position: relative;
    display: block;
    min-width: 40vw;
    max-height: 44vh;
    background: none;
    padding: 0;
    box-shadow: none;
    z-index: 3;
    left: 40%;
  }
  .Me img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .name {
    top: 25%;
    left: 95%;
    white-space: nowrap;
    color: black;
    font-size: 2rem;
  }
  .infoBox {
    position: relative;
    display: block;
    width: 74vw;
    max-height: 85vw;
    font-size: 24px;
    margin-top: 10%;
    padding-top: 6rem;
    z-index: 1;
  }
  .infoTitle {
    margin-left: 50%;
    padding: 0;
  }
  .infoText {
    margin-left: 50%;
    flex-wrap: wrap;
  }

  .icons {
    display: none;
  }
  .pDiv {
    max-width: 45%;
  }
  .contact {
    justify-content: space-evenly;
    gap: 10%;
  }
  .meContact {
    min-width: 50vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .name {
    top: 86%;
    left: 6%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .name {
    top: 86%;
    left: 6%;
    font-size: 2rem;
  }
}
